extend components/template.pug
block contenidos
	section.intro
		.intro__imagen: img(src="./images/imagen.png")
		.intro__contenido
			h2 #{titulos[0]}
			p 
				| Lorem ipsum dolor sit amet consectetur adipisicing 
				| elit. Inventore, quos eveniet. Suscipit, deserunt. 
				| Similique, ullam libero commodi neque odit ipsam 
				| hic, ratione, rem excepturi dolore perferendis 
				| veritatis autem itaque voluptates!
				span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quo architecto quam odio commodi delectus.
			a.boton Leer más
	main.contenido
		+caja('imagen.png', titulos[1], 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, porro!')
		+caja('imagen.png', titulos[2], 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, porro!')
		+caja('imagen.png', titulos[3], 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, porro!')